<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1>Place Inspection</h1>
   <% include ../partials/testSearch.ejs %>
  </div>
</div>
    <!-- <% include ../partials/maps.ejs %> -->
<br>
<br>
<br>
<div class="alert alert-info text-center" role="alert">
    <%= new Date();%>
</div>
</body>
</html>
